<nav class="contenedorNav">
  <div class="contenedoImagen">
    <img
      class="imagenLogo"
      src="https://www.newshore.es/media/1411/newshore-by_flyr-logo.svg"
      alt=""
    />
  </div>
  <div class="contenedorMenu">
    <div class="contenedorBoton">
      <button class="boton-sesion">Login</button>
    </div>
    <div class="contenedorHamburguesa">
      <div class="hamburguesa">
        <img
          class="imagenPrimerInput"
          src="assets/media/bars-staggered-solid.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</nav>
